<h2>Login</h2>
<form  (ngSubmit)="onSubmit()">
    <div>
        <label for="username">Username</label>
        <input type="text" [(ngModel)]="username" />
        <div  class="invalid-feedback">
            <div >Username is required</div>
        </div>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" [value]="password"/>
        <div class="invalid-feedback">
            <div>Password is required</div>
        </div>
    </div>
    <div >
        <button [disabled]="loading" class="btn btn-primary" (click)="login()">Login</button>
        <a class="btn btn-link">Register</a>
    </div>
</form>