<h2>Login</h2>
<div>
    <label for="username">Username</label>
    <input [(ngModel)]="username">
    <div class="invalid-feedback">
        <div>Username is required</div>
    </div>
</div>
<div>
    <label for="password">Password</label>
    <input type="password" [(ngModel)]="password" />
    <div class="invalid-feedback">
        <div>Password is required</div>
    </div>
</div>
<div>
    <label for="password">Email</label>
    <input type="text" [(ngModel)]="email" />
    <div class="invalid-feedback">
        <div>Email is required</div>
    </div>
<div>
    <button class="btn btn-link" class="btn btn-primary"(click)="login()">Register</button>
</div> 